    @font-face {
        font-family: 'welcome';
        src: url('welcome_2019-webfont.woff2') format('woff2'),
        url('welcome_2019-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        
    }

    html, body {
        height: 100%;
        margin: 0;
        font-family: 'Playfair Display', serif;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        scroll-behavior: smooth;
        
    }
    /*Header Home Page */
    .full-height {
        height: 100vh;
        font-family: 'welcome';
        color: #FFC952;
        background-color: #142340;
        font-size: 10em;
        text-align: center;
        padding-top: 1em;
    }

    .full-height p {
        font-size: 0.2em;
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .typing {
        color: antiquewhite;
    }

    /* Navbar */
    .navbar-default { 
        background-image: none;
        background-repeat: no-repeat;
        color: #FFC952; /* rgb(255, 201, 82) */
        background-color: #142340; /* rgb(20, 35, 64) */
        
    } 
    .navbar-default a {
        color: #FFC952;
    }

        .full-screen-navbar {
        height: 100vh;

    }
        /* Logo */
    #logo {
        height: 50px;
        width: 50px;
    }

    /* Menu burger */
    /* Set the border color */ 

    .custom-toggler.navbar-toggler { 
        border-color: #FFC952; 
    } 
    /* Setting the stroke to green using rgb values (255, 201, 82) */ 

    .custom-toggler .navbar-toggler-icon { 
        background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 201, 82, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
    } 

    /* FORMS */
        /* Login Form */
        #loginForm {
            margin-top: 10em;
        }
        #login {
            color: #142340;
        }

        .z-depth-1a {
            -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
            box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
            
            .z-depth-1-half,
            .btn:hover {
            -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
            box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }


    /* Media Queries */
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        #welcome {font-size: 2em;}
        #typing, #arrow {display: none;}
        .full-height {display: none;}
    }



