{% extends 'layout.html.twig' %}

{% block body %}
    <h1>home user test Before login!!!</h1>

    <button><a href="{{ path('user_login') }}">Viens te login!</a></button>
{% endblock %}

{% block title %}

{% endblock %}