{% extends 'layout.html.twig' %}

{% block title %} Création d'un compte {% endblock %}

{% block body %}
    <div id="spacing-div"></div>
    <h1 class="lobster-align">Viens donc te connecter ici!👇</h1>
    <div id="spacing-div"></div>
    <div id="spacing-div"></div>
    <div class="d-flex justify-content-center mb-3">

        <div class="container">
            <div class="d-flex justify-content-center mb-3">


                <form action="{{ path('user_login') }}" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="username">Identifiant:</label>
                            <div class="col no-padding">
                                <input class="input-form" type="text" id="username" name="_username" value="{{ last_username }}" required/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label for="password">Mot de passe:</label>
                            <div class="col no-padding">
                                <input class="input-form" type="password" id="password" name="_password" required/>
                            </div>
                        </div>
                    </div>
                    {# Remember me #}
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                            <label for="remember_me">Se souvenir de moi</label>

                        </div>

                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account"/>
                    #}


                    <div id="spacing-div"></div>

                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="_target_path" value="{{ url('user_main') }}"/>
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </div>


                    {% if error %}
                        <div class="row">
                            <div class="col">
                                <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}🥚</div>
                            </div>
                        </div>
                        <div id="spacing-div"></div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>



{% endblock %}




